@model UpdateAboutDto
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}




<form method="post" >
    <input type="hidden" asp-for="AboutId" />
    <label>Hakkımızda Başlık 1</label>
    <input class="form-control" type="text" asp-for="Title1" />
    <br />
     <label>Hakkımızda Başlık 2</label>
    <input class="form-control" type="text" asp-for="Title2" />
    <br />
     <label>İçerik</label>
    <input class="form-control" type="text" asp-for="Content" />
    <br />
     <label>Oda Sayısı</label>
    <input class="form-control" type="text" asp-for="RoomCount" />
    <br />
     <label>Personel Sayısı</label>
    <input class="form-control" type="text" asp-for="StaffCount" />
    <br />
      <label>Müşteri Sayısı</label>
    <input class="form-control" type="text" asp-for="CustomerCount" />
    <br />
    <button class="btn btn-outline-success" >Hakkımızda Bilgisini Güncelle</button>
</form>


