@model UpdateRoomDto
@{
    ViewData["Title"] = "UpdateRoom";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post" >
    <input type="hidden" asp-for="RoomID" />
    <label>Oda Numarası</label>
    <input class="form-control" type="text" asp-for="RoomNumber" />
    <br />
     <label>Oda Başlığı</label>
    <input class="form-control" type="text" asp-for="Title" />
    <br />
     <label>Fiyat</label>
    <input class="form-control" type="text" asp-for="Price" />
    <br />
     <label>Yatak Odası Sayısı</label>
    <input class="form-control" type="text" asp-for="BedCount" />
    <br />
     <label>Banyo Sayısı</label>
    <input class="form-control" type="text" asp-for="BathCount" />
    <br />
      <label>Oda Kapak Fotoğrafı</label>
    <input class="form-control" type="text" asp-for="RoomCoverImage" />
    <br />
      <label>Wifi</label>
    <input class="form-control" type="text" asp-for="Wifi" />
    <br />
      <label>Açıklama</label>
    <input class="form-control" type="text" asp-for="Description" />
    <br />
    <button class="btn btn-primary" >Odayı Güncelle</button>
</form>

